<h3>회원정보 확인</h3>
<img src="../static/img/userId/<%= data.userPicurl %>" alt="My Image">

<div class="user-Login">
    <div>아이디 : <%= data.id%></div>
    <div>비밀번호 : <%= data.pw%></div>
    <div>이름 : <%= data.name%></div>
    <div>이메일 : <%= data.email%></div>
    <div>주소 : <%= data.loca%></div>
</div>

<script>
</script>
